:root {
  --sunset-purple: #5b3758;
  --bright-orange: #ff9800;
  --soft-pink: #ff7f7f;
  --light-sand: #f2ddc6;
}

body {
  background-color: var(--sunset-purple);
  color: var(--light-sand);
}

a {
  color: var(--bright-orange);
}

h1 {
  color: var(--soft-pink);
}

input:valid,
textarea:valid {
  border: 2px solid green;
}

input:invalid,
textarea:invalid {
  border: 2px solid red;
}

.nav-item.dropdown {
  list-style: none;
}

.dropdown-menu {
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.navbar-nav > li {
  display: inline-block;
  margin-right: 10px;
}

/* header {
  display: flex;
  align-items: center;
} */

.logo-img {
  padding-right: 10px;
}

.logo-text {
  margin: 0;
  padding-left: 10px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item.search {
  margin: 0;
  justify-self: flex-end;
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-item.search {
  margin: 0;
  margin-left: auto;
}

.btn.btn-outline-success.my-2.my-sm-0 {
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.info-path {
  text-align: center;
}

.container {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: none;
  text-align: center;
  flex: 1;
}

.grid-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .grid-item {
    height: 300px;
  }
}
